name: Main

on: [push]

jobs:
  main:
    runs-on: ubuntu-18.04
    steps:
    - name: Install Terraform
      run: |
        sudo apt-get update
        sudo apt-get install wget unzip
        sudo wget https://releases.hashicorp.com/terraform/0.12.2/terraform_0.12.2_linux_amd64.zip
        sudo unzip ./terraform_0.12.2_linux_amd64.zip –d /usr/local/bin
        terraform –v
    - name: Terraform Init
      run: terraform init
    - name: Terraform Validate
      run: terraform validate
    - name: Terraform Plan
      run: terraform plan
